.blogPage {
  height: 100%;
  width: 100%;
  padding: 60px 20%;
}

.header {
   height: 80px;
   width: 100%;
   font-size: 30px;
   text-align: center;
}

.date {
   height: 40px;
   width: 100%;
   text-align: center;
}