.effectPage {
  height: 100%;
  width: 100%;
  padding: 60px 5%;
}

.header {
  font-size: 20px;
  padding: 10px 0;
}

.colorfulArea {
  position: relative;
  width: 100%;
  padding: 0 40%;
}

.colorful {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  background-image: linear-gradient(to right, red, orange, yellow, green, yellow, orange, red, orange, yellow, green, yellow, orange, red);
  background-clip: text; // 背景被裁剪成文字的前景色。   
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: move 5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}
