.homePage {
  height: 100vh;
  width: 100vw;
}

.beian {
  position: absolute;
  height: 50px;
  width: 100vw;
  bottom: 0;
  text-align: center;
  background-color: grey;

  a {
    color: white;
    line-height: 50px;
  }
}